.title {
  width: 100%;
  background: var(--color-blue-900);
  color: white;
}

.content {
  background: #D9D9D9;
  padding: 15px;
  border-radius: 16px;
  max-width: 800px;
}

.newPosterBtn {
  margin-top: 0.3rem;
  background-color: var(--color-amber-800);
  border-radius: 100px;
  color: white;
  padding: 0.5rem 0.7rem;
  border: 1px solid white;
  &:hover {
    opacity: 0.9;
  }
}