.primary{
  font-size: 2rem;
  background: var(--color-blue-500);
  color: var(--color-white);
  border: none;
  border-radius: 1rem;
}
.primary:hover{
  background: var(--color-blue-700);
}
.primary:focus{
  outline: solid 2px var(--color-blue-500);
  outline-offset: 2px;
}

.primary:hover:focus{
  outline-color: var(--color-blue-700);
}

.secondary{
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  line-height: 1rem;
  padding: calc(10 / 16 * 1rem) 1rem;
}
.secondary:hover{
  background: hsl(263, 65%, 92%);
}

.secondary.active{
  font-style: italic;
  text-decoration: underline;
}

.button{
  text-wrap: nowrap;
}