.navBarWrapper {
  position: fixed;
  top: 0;
  background-color:var(--color-blue-950);
  height: calc(56/16 *1rem);
  width: 100%;
  display: flex;
  align-items: center;
}

.side{
  flex: 2;
}
.btnGroup{
  flex: 4;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navBtn{
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  line-height: 1rem;
  padding: calc(10 / 16 * 1rem) 1rem;
  background-color: transparent;
  color: var(--color-white);
}

.navBtn.activeBtn{
  background-color:var(--color-blue-200);
  color: var(--color-blue-950);
}

.navBtn:hover{
  text-decoration: underline;
}

