.wrapper {
    padding:16px;
}

.finishBtn {
    color: white;
    border-radius: 100px;
    padding: 0.4em 2em;
    margin: 0.5rem auto;
    display: block;
    background-color: var(--color-amber-700);
}