.heroWrapper{

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  margin-left: 90px;
  position:relative;
}

.title{
  font-size: 8rem;
  color: var(--color-amber-800);
  margin-left: -15px;
}

.buttonWrapper{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.circle{
  background-color: var(--color-blue-200);
  border-radius: 50%;
  position: absolute;
}

.circle:nth-of-type(1){
  width: 850px;
  height: 850px;

  left: -80px;
  top: -300px;
}

.circle:nth-of-type(2){
  width: 600px;
  height: 600px;
  bottom: -200px;
  right: -100px;
}

.landingPageWrapper{
  position:relative;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  overflow:clip;
}
.intro{
  text-align:left;
  font-size: 1.5rem;
}

.bigNavBtn{
  width:100%;
  border:none;
  background-color: var(--color-amber-800);
  color: var(--color-white);
  font-size: 1.5rem;
  margin-top: 16px;
  border-radius: 8px;
  padding: 4px 0;
  transition: background-color 0.2s, width 0.2s;
  margin-left: auto;
  margin-right: auto;
}

.bigNavBtn:hover,.bigNavBtn:focus{
  background-color: var(--color-amber-700);
  width: 95%;
}

.bigNavBtn:focus{
  outline: 2px solid var(--color-amber-800);
  outline-offset: 2px;
}

.circle{

}